[Unit]
Description=ydotool daemon (virtual input for Wayland text injection)
Documentation=https://github.com/ReimuNotMoe/ydotool

[Service]
Type=simple
ExecStart=/usr/bin/ydotoold --socket-path=%t/.ydotool_socket --socket-own=%U:%G
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always
KillMode=process
TimeoutSec=180

[Install]
WantedBy=default.target
