[Unit]
Description=Topgrade System Update Timer

[Timer]
OnCalendar=*-*-* 04:30:00
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
